
        
        h2 {
            color: rgb(41, 11, 130);
        }  
        
        body {
            background-color: rgb(71, 62, 62);
        }
            
    #nav-table {width: 800px;}

    #nav-td {width: 200px; text-align: center;}